/*
[[Font | enum(Arial,Arial Narrow, Roboto, Brush Script MT,Calibri,Cambria,Candara,Copperplate,Courier,Courier New,Didot,Garamond,Geneva,Helvetica,Lucida Bright,Monaco,Optima,Perpetua,Times,Times New Roman,Verdana) |Arial | {group: General, order: 2}]];
[[X Color | colour | #ffffff  | {group: Closing Button, groupOrder: 5, order: 1 }]]
[[Background Plus Colour | colour | #005E6E | {group: Closing Button, order: 2 }]]
[[Background Plus Top Margin | number | 75 | {group: Closing Button, order: 2 }]]
*/


#scDemoTool-slider { overflow-x: scroll; overflow-y: scroll; position: fixed; top: 0; right: -450px; height: 100%; width: 450px; background-color: #fff; z-index: 99999; transition: right 1.6s ease-in-out; box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1); font-family: Arial; }
#scDemoTool-slider.open { right: 0; }

#scDemoTool-slider .scDemoTool-slider-body { padding: 5px; }
#scDemoTool-slider .scDemoTool-slider-body h3 { margin-top: 28px; line-height: 1.5; font-size: 20px; font-weight: bold; margin: 0;color: #000; }
#scDemoTool-slider .scDemoTool-slider-body p { padding: 12px 0 25px; margin: 0; font-size: 12px; line-height: 28px; color: #000; }

#scDemoTool-slider .body__button { display: inline-block; border-radius: 4px; color: #fff; background-color: #000000; font-family: Arial; padding: 12px 30px; cursor: pointer; font-size: 16px; }
#scDemoTool-slider .body__button:hover { color: #fff; background-color: #9e9e9e; }
#scDemoTool-slider .scDemoTool-slider__close { z-index: -1; position: absolute; left: 0; top: 75px; width: 40px; height: 40px; transform: translateX(-100%); background-color: #005E6E; border-bottom-left-radius: 4px; box-shadow: 0 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.1); }

/* close button */
.close__btn-close-icon { background: transparent; top: 0; right: 0; width: 40px; height: 40px; position: absolute; display: flex; justify-content: center; align-items: center; cursor: pointer; }
.close__btn-close-icon:after { content: ''; height: 24px; border-left: 4px solid #ffffff; position: absolute; transform: rotate(0deg); }
.close__btn-close-icon:before { content: ''; height: 24px; border-left: 4px solid #ffffff; position: absolute; transform: rotate(-90deg); }

/* accordion and scrollbar */
.demobar-accordion { width: 99%; max-width: 440px; margin: 5px auto; }
.demobar-accordion::-webkit-scrollbar { width: 12px; /* width of the entire scrollbar */}
.demobar-accordion::-webkit-scrollbar-track { background: #fff; /* color of the tracking area */}
.demobar-accordion::-webkit-scrollbar-thumb { background-color: #005E6E; /* color of the scroll thumb */border-radius: 20px; /* roundness of the scroll thumb */ border: 3px solid #fff; /* creates padding around scroll thumb */}


#scDemoTool-slider #saveMsg { background-color: #333378; color: white; padding: 5px; text-align: center; margin: 16px; border-radius: 5px; position: absolute; width: 410px; }

/* #scDemoTool-slider button { padding: 9px 39px 8px 39px; color: #FFF; background-color: #005E6E; font-size: 18px; text-align: center; font-style: normal; border-radius: 5px; width: 100%; border-width: 0px; margin-bottom: 10px; } */

#scDemoTool-slider button.demobar-accordion-button { width: 100%; background-color: whitesmoke; border: none; text-align: left; padding: 15px 10px 15px 5px; font-size: 16px; color: #212621; text-transform: capitalize; cursor: pointer; transition: background-color 0.2s linear; font-weight: 600;}
#scDemoTool-slider button.demobar-accordion-button:after { content: "+"; font-size: 18px; float: right; }
#scDemoTool-slider button.demobar-accordion-button.is-open:after { content: "-"; }
#scDemoTool-slider button.demobar-accordion-button:hover, #scDemoTool-slider button.accordion.is-open { background-color: #ddd; }
#scDemoTool-slider .demobar-accordion-content { background-color: white; height: 500px; width: 400px; max-height: 0; overflow: hidden; transition: max-height 0.2s ease-in-out; }
#scDemoTool-slider form { max-width: 475px; margin: 10px auto; }

#scDemoTool-slider input[type="text"], #scDemoTool-slider input[type="password"], #scDemoTool-slider input[type="date"], #scDemoTool-slider input[type="datetime"], 
#scDemoTool-slider input[type="email"], #scDemoTool-slider input[type="number"], #scDemoTool-slider input[type="search"], #scDemoTool-slider input[type="tel"], 
#scDemoTool-slider input[type="time"], #scDemoTool-slider input[type="url"], #scDemoTool-slider textarea,
#scDemoTool-slider select { background: rgba(255, 255, 255, 0.1); border: none; font-size: 16px; height: auto; margin: 0; outline: 0; padding: 15px; width: 95%; background-color: #efefef; color: #212621; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset; margin-bottom: 20px; }

#scDemoTool-slider input[type="radio"], #scDemoTool-slider input[type="checkbox"] { margin: 0 4px 8px 0; }
#scDemoTool-slider select { padding: 6px; height: 32px; border-radius: 2px; }

#scDemoTool-slider .formfields { margin-bottom: 3px; border: none; }
#scDemoTool-slider .demobar-accordion-content div { margin-left: 5px; font-size: 13px; font-weight: normal; }
#scDemoTool-slider .demobar-accordion-content div.demobarcollapsablecontainer { margin-left: 0px; font-size: 13px; font-weight: normal; background-color: whitesmoke; }
#scDemoTool-slider .demobar-accordion-content div.demobarcollapsablecontainer .demobardataextension { margin-left: 15px; }
#scDemoTool-slider .demobar-accordion-content div.demobarcollapsablecontainer .collapsablecontainercontent { margin-left: 15px; }
#scDemoTool-slider .demobar-accordion-content div.demobarcollapsablecontainer .demobarcollapsablecontainerheader .property {  display: inline-block; }


#scDemoTool-slider label {float: none;}
#scDemoTool-slider .demobar-accordion-content div .demobarcopyicon {cursor: pointer; }
#scDemoTool-slider .demobar-accordion-content div .demobarlabel { display: inline-block; }
#scDemoTool-slider .demobar-accordion-content div .propertylabel { display: inline; font-weight: bold; text-transform: capitalize;}

#scDemoTool-slider .demobar-accordion-content div .propertyvalue { display: inline; font-weight: normal;}
#scDemoTool-slider .demobar-accordion-content div.arraypropertytitle { margin:0px;}
#scDemoTool-slider .demobar-accordion-content div.arraypropertyelement { border:1px solid grey; margin-bottom: 10px; margin-left: 19px; margin-right: 10px;}
#scDemoTool-slider .demobar-accordion-content div .separator { margin:0px;}

#scDemoTool-slider .demobar-accordion-content .collapsablecontainercaret { display: inline-block; }

.jBox-content div { margin-left: 5px; font-size: 13px; font-weight: normal; }
.jBox-content .propertylabel { display: inline; font-weight: bold; text-transform: capitalize;}
.jBox-content .propertyvalue { display: inline; font-weight: normal; text-transform: capitalize;}
.jBox-content .separator { margin:0px;}
.jBox-content label {float: none;}
.jBox-content label.tooltipheader { display: inline; font-weight: bold; font-size: 15px; }
.jBox-content hr.tooltipheader { margin-top: 5px; margin-bottom: 15px;}




#scDemoTool-slider label.light { font-weight: 300; display: inline; font-family: [[Font]]; }

#scDemoTool-slider .inline { 
    display: inline-block; 
    margin:10px;
    }
